<launch>

  <node pkg="sc_mini" type="sc_mini" name="sc_mini" output="screen" >
    <param name="frame_id" type="string" value="laser"/>
    <param name="port" type="string" value="/dev/serial0"/>
    <param name="baud_rate" type="int" value="115200"/>
  </node>

  <node pkg="i2c_rover" type="uart_rover_node" name="uart_rover_node" output="screen" launch-prefix="sudo"/>
  <!-- <node pkg="i2c_rover" type="i2c_rover_node" name="i2c_rover_node" output="screen" launch-prefix="sudo"/> -->


  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="false"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node>

  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="base_footprint"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>

  <!-- <node pkg ="tf" type="static_transform_publisher" name="robot_footprint_to_base_link_bc" args="0 0 0.055 0 0 0 base_link base_footprint 30" /> -->
  <!-- <node pkg ="tf" type="static_transform_publisher" name="camera_to_base_link_bc" args="0.08 0.0 0.0525 0 0 0 base_link camera 30" /> -->
  <!-- <node pkg ="tf" type="static_transform_publisher" name="support_to_base_link_bc" args="0.0 0.0 0.115 0 0 0 base_link support 30" /> -->
  <!-- <node pkg ="tf" type="static_transform_publisher" name="laser_to_support_bc" args="0.0 0.0 0.1 0 0 0 support laser 30" /> -->

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find tinybot_nav)/maps/studio_f2.pgm 0.050000"/>


  <include file="$(find tinypibot_urdf)/launch/tinypibot.launch" />

  <include file="$(find tinybot_nav)/launch/move_base.launch" />

  <!-- <include file="$(find ros_astra_camera)/launch/astrapro.launch" /> -->

  <!-- <include file="$(find ds4_driver)/launch/ds4_twist.launch" >
    <arg name="addr" value="" />
    <arg name="dof" value="2" />
  </include> -->

</launch>
<!-- usermod -a -G i2c pi -->